_.log
.*.bun-build
.cache
.cdrc
.claude
.cursor
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.idea
.local.mk
.test/
.testme
*.lcov
*.tgz
*.tsbuildinfo
bun.lock
coverage
dist
!vendor/ejscript/dist
node_modules
out
tm
installs/
test/debug
